* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  height: 100%;
  margin: 0;
}

body {
  align-items: center;
  color: #2E394D;
  display: flex;
  flex-direction: column;
  font-family: "Calibre" !important;
  font-size: 1rem;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
}

.app {
  align-items: center;
  background-image: linear-gradient(90deg, #93D8E8 0%, #8768E6 100%);
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;

}

.app-inner {
  background-color: #fff;
  box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.20);
  display: flex;
  flex: 1;
  justify-content: space-around;
  margin-bottom: 30px;
  margin-top: 30px;
  width: calc(100% - 120px);
}

.site-content {
  flex: 1;
  max-width: 800px;
  padding: 60px 45px;
  width: 100%;
}

/* site nav */
nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1000;
}

.link-group a:first-of-type {
  margin-right: 40px;
}

a {
  color: #2E394D;
  text-decoration: none;
}

/* type */

h1,h2,h3,h4 {
  margin-top: 0;
  margin-bottom: 1rem;
}

h1 {
  color:#6B36E3;
  font-size: 6.75em;
  font-weight: 600;
  line-height: 1.1;
}

h2 {
  font-weight: 400;
  font-size: 1.875em;
  line-height: 1.2;
}

h3 {
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.6;
}

p {
  margin-top: 0;
}

/* banner */
.banner {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.banner .line {
  background-color: black;
  display: inline-block;
  height: 1px;
  vertical-align: middle;
  width: 40px;
}

.banner h4 {
  display: inline-block;
  font-weight: normal;
  margin-bottom: 0;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
  vertical-align: middle;
}

/* home page */
.intro {
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: center;
  margin-bottom: 0;
  min-height: 300px;
}

.works {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.next-work-right,
.next-work-left {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 60px;
}

.next-work-right {
  right: 0;
}

.next-work-left {
  left: 0;
}

.next-work-right a,
.next-work-left a {
  width: 6px;
  color: white;
  word-wrap: break-word;
}

.work-card {
  border-radius: 2px;
  border-radius: 2px;
  height: 20em;
  margin-bottom: 30px;
  padding: 30px;
  position: relative;
  width: 100%;
  z-index: 1;
}

.work-card::hover {
  cursor: pointer;
}

.work-card .top-layer {
  border-radius: 2px;
  border: 1px solid #D1E2E8;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

.work-card .image-layer {
  border-radius: 2px;
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

.work-card .image-layer img {
  height: 100%;
  width: auto;
}

.work-meta {
  position: relative;
  z-index: 100;
  text-shadow: 0px 1px 0px rgba(0,0,0,0.10);
  color: white;
}

.work-meta h3 {
  margin-bottom: 0;
}
