<template name="gluten-tag">
<div class="single">
  <h1>Gluten Tag Beers</h1>
  <br>
</div>
<div class="single">
{{#markdown}}
There's something about a terrible beer pun that always draws a smile and a chuckle. My friend often joked about opening up a brewery called Gluten Tag, which proudly served gluten rich beer.

Gluten Tag was born on a lazy Friday afternoon while I drank one of my friend's freshly ready batches. It was crisp. It made me feel pretty darn good about myself. Being bored and then full of beer, I pawed through some medieval woodcut prints. I realized that a woodcut print would make for a great background for a label! I needed to find the right typeface for the label though. I wanted some fine germanic blackletter. I found an awesome typeface on Creative Market that fit the bill.

Pairing the two, I created a quick simple logo in just under an hour that was cost effective, time effective, and captured the essence of the brewery.

<img src="{{urlFor 'home'}}images/work/gluten-tag.jpg" alt="">

{{/markdown}}

</div>
</template>
