.db {
  display: block;
}
.dib {
  display: inline-block;
}

// type
.tac {
  text-align: center;
}

// removes padding
.no-padv {
  padding-top: 0;
  padding-bottom: 0;
}

.padb {
  padding-bottom: 1em;
}
.padb--large {
  padding-bottom: 3em;
}

.ml {
  margin-left: .5em;
}

.mt {
  margin-top: 1em;
}
