<template name="about">
  <section class="section typeset no-pad">
    <span class="padded salmon shout">I make stuff and <br> break stuff.</span>
    <article class="margin column--right three-quarter">
      <div class="profile">
        <img src="{{urlFor 'home'}}profileFull.jpg" alt="">
      </div>
    </article>
  </section>
  <section class="section typeset no-pad">
    <aside class="column column--sidebar">
      <p>
        <small class="upper regular cadet-blue ">Current Status</small>
        <br>{{ cole.status }}
        <br>
        <br>
        <small class="upper regular cadet-blue">Education</small>
        <br> {{ cole.college }}, 20{{ cole.graduation }}
        <br> Bachelor of Liberal Arts in the Arts
        <br>
        <br>
        <small class="upper regular cadet-blue">Projects</small>
        <br>
        {{#each cole.projects }}
          <a href="{{url}}">{{ name }}</a>
          <br> {{/each}}
        <br>
        <small class="upper regular cadet-blue">Clientele</small>
        <br>
        {{#each cole.clients }} <a href="{{url}}">{{ name }}</a>
          <br> {{/each}}
      </p>
    </aside>
    <article class="column column--main">
      <p>My name is Cole Townsend I am a designer, a runner, and a Buffalonian. I studied Art History at Williams College. I like chemex coffee, running, and napping in that order. I think programming is cool,
        <del>but don’t actually program that much</del> and I learned python then built <a href="http://coletownsend.github.io/ben-cole-project/">this Tour de France visualization</a>. I’m always trying to learn new things. MeteorJS and FramerJS are on my shortlist. <del>I recently built <em>this very site</em> in Meteor and made a <a href="https://dribbble.com/shots/2131589-Meta-culously-Organized">neat little animation</a> in Framer.</del><del> I recently have been working with ReactJS and built a Dribbble Client for OSX called <a href="http://layups.pink">Layups</a></del>. I redesigned <a href="https://thoughtbot.com">thoughtbot.com</a>.
      </p>
      <p>
        I am now designing at thoughtbot. <a href="https://thoughtbot.com/hire-us">Want to work with us?</a></p>
    </article>
  </section>
</template>
