<template name="meta-landing-page">
<section class="section typeset">
{{ >caseStudyInfo link=content.link  }}
<article class="column column--main">
{{#markdown}}
# What is Meta?
Imagine you're searching for a document. Actually, no need to imagine. Shortly before writing this, I was searching for a contract template. I've had this template for several years, long before I made the switch from Copy to Dropbox. Now I still use Copy, because I have 40gb free with them. Now, I only use Dropbox because I paid for the 1tb tier. I have no idea where these files are nor if I still have them locally.

Meta solves the whole "I have no idea where my pitch deck is and it's five minutes before my presentation" problem. Pop open Meta, type in a word or two you remember from your pitch deck, and you'll find your ground breaking presentation for the Valley's top new toothbrush startup. Or, you know, that essay that's due now that you haven't printed out.

## From Template Lander to Bespoke Conversion Machine
I was already working on some of the UI designs for Meta, and was told that they wanted a little help with the landing page. The old page was a template version. It was well put together; pretty polished for an unfunded startup that allocated most of its resources towards the actual product. Now successfully funded, they could afford a much deserved upgrade.

I worked with the team closely to find the best possible solution for our landing page. We spoke about what type of landing pages they liked, ironed out the goals for their page, and outlined how they wanted users to perceive their app. We also did teardowns of these sites including those of their competitors to find out what we needed to do to differentiate Meta.
{{/markdown}}
</article>
</section>

<section class="section no-pad typeset">
<aside class="column column--sidebar">
{{>studyImage low="meta-robinhood.png" hi="meta-robinhood@2x.png" caption="The old landing page for Robinhood" }}
</aside>
<article class="column column--main">
{{#markdown}}
# Crystallization
While the team really really liked the old Robinhood.io site concept,  we decided that it didn't play to the strengths of our team or assets. This design was a Lonely Sandwich video set as the site background with a short call to action. While the site seemed cool, it was really the video that was cool. <em>The Robinhood design hinged on the fact that the video was provocative</em> and recognizably a Lonely Sandwich video. Normally I hate autoplay, but I love the guys over at Sandwich studio and find their videos really entertaining. Unfortunately, we didn't have the budget for a Lonely Sandwich app video, and the demo video we had was excellent but lacked the same sort of production and narrative that made the Robinhood video so special. *It did precisely what it was supposed to do extemely well, and we needn't stretch its purpose.*

Jason and I spent a lot of time in conversation, working to crystallize exactly what we were looking for in the launch page. The ultimate goal was maximizing sign ups. Jason told me that their sign ups increased after adding a demo video to their site. Watching the demo video, I realized why. The video wasn't effective because of its entertainment value; it shows shows exactly how the app works. What I found to be problematic with the old landing page, and often see on newer app pages, is that I'm not really sure what the product is. Without captioned screenshots, demos, or explicit copywriting I feel left in the dark. Meta did a better job than most on their site, but the complexity of the app begged for an explicit (visual) description which their demo video provided.

{{/markdown}}
</article>
</section>
<div class="full-width">
{{>studyVideo video="meta-animation.mp4" bg="meta-video-poster.png"}}
</div>
<section class="section typeset no-pad">
<article class="column column--right">

{{#markdown}}
Based on research I had done on landing pages, breakdowns of the competitor sites, and the little analytics we had, we thought it was important to make information about Meta prevalent and easy to understand. Meta is a search engine for your cloud apps, it's wicked fast, and you can open documents right from there. The solution to this problem was easy. We needed great copywriting accompanied by illustrated features of the app. Without a fully polished product to show, I felt that illustrations were the best substitute — they're flexible without being misleading.
{{/markdown}}
</article>
</section>

<section class="section typeset no-pad">
<aside class="column column--sidebar">
  {{>studyImage low="meta-animation-old.gif" caption="Initial animation prototypes"}}
</aside>
<article class="column column--main">
{{#markdown}}
We focused the layout of the page to reinforce the sign up forms. I place the standard, bold call to action followed by a form. To succinctly show how the app worked, I build an animation in Framer, then VelocityJS, a superfast javascript animation library. While an abstraction of the actuall appearance of the app, it works exactly how the current beta works and future product will work.

To summarize, we accomplished half a dozen things within the first 700 or so pixels. We established our offering: "Access any file instantly wherever it is," placed a secondary heading to further elaborate, a form, and a link. Beside the copywriting, there is an animated illustration that shows precisely how you can juggle 4 different cloud storage drives.
{{/markdown }}
</article>
</section>

<section class="section typeset no-pad">

  <aside class="column column--sidebar">
  {{> studyImage low="meta-copy-unit.png" hi="meta-copy-unit@2x.png" height="10rem" caption="The main copywriting block"}}</aside>
  <article class="column column--main">

{{#markdown}}
### Navigating the copy
If the above-the-fold content wasn't enough, a teasing illustration of some ruffled documents hint at a lower area to the page. I focused on writing quick, skimmable headers with the help of the team, carefully melding illustration and content for a visually balanced page. Each illustration was designed specifically for that bit of content, and designed to fit around both its twin paragraph and the entire page.

### Endcap Video
To cap off the copy, I made a seperate module for the video. This serves two purposes. First, it shows a screenshot of the actual app. Which means it's real. Second, the single unit dedicated to the video will hopefully increase the likelihood that visitors watch the video and therefore sign up. With the analytic available at the time, we could not confirm  if the increased conversion noted previously was causation or coincidence. We do know that the video collected a lot of referrals when shared on Facebook however, so it was important. To cover our bases, I made a dedicated portion just for the video.

## Execution
Nobody likes speccing designs. I offered to code the landing page to ensure precise execution and spare the team some man hours. They focused on getting their product ready for launch, interviewing new team members, and taking care of the business. In a week and a half, I bootstrapped the site in meteor, ported it to Jekyll and deployed a private site for them. They used the same templates preferring Hugo over Jekyll so they could make server side builds on the fly.

The site I build is responsive for mobile, tablet, and desktop and was optimized for peak performance with gulp.

My [CSSstats](http://csstats.com) were pretty good for a completely custom built site, at 4kb gzipped. The site scored quite highly on Pagespeed as well, with the greatest loss of pagespeed from the large amount of http requests due to images and external libraries.
{{/markdown}}
</article>
</section>
</template>
