<template name="panda-jobs">
<section class="section typeset">
{{ >caseStudyInfo }}
<article class="column column--main">
{{#markdown}}
Panda Jobs is the latest addition to a suite of websites and online services maintained by the Panda team. It's intended to be a fresh take on job boards by focusing on perks and connecting companies with a community of designers. It also provides a dashboard for job post metrics enabling customers to see how effective postings have been.

William Channer approached me to work on a new job board concept that embodied the principles of Panda: appealing, approachable visuals, dedication to the tech community, and a focus on highlighting job perks for applicants. The job board integrates with the Panda app, creating a one stop dashboard for designers and developers alike. I focused on creating an intuitive search mechanism, similarly to that of Airbnb and Radpad.
{{/markdown}}
</article>
</section>
<div class="full-width"><img srcset="{{ urlFor 'home'}}/images/work/panda-job-stats.png 1x, {{ urlFor 'home'}}/images/work/panda-job-stats@2x.png 2x" alt="Stats Dashboard for Panda jobs"></div>
<section class="typeset section no-pad">
<article class="column column--right">
{{#markdown}}

{{/markdown}}
</article>
</section>

</template>
