<template name="panda-network">
{{ >caseStudyInfo  }}
<section class="typeset section">
<article class="column column--main">
{{#markdown}}
Ahmet Sulek, William Channer, and I have worked together on numerous projects. While we love working together, they always need more people on their team. They needed a site to recruit new talent and to show off their body of work in a simple approachable way. I initially started with fairly simple and attractive grid style portfolios, and transitioned to more experimental and exotic layouts.
{{/markdown}}
</article>
</section>
<div class="full-width">
{{> studyImage low="panda-network-layouts.png" hi="panda-network-layouts.png" }}
</div>
<section class="typeset section no-pad">
<article class="column column--right">
{{#markdown}}
We worked through a few solutions, all while emphasizing simplicity. We decided that the best option was a straightforward list. Their body of work has a lot of name recognition, so we really focused on the list of websites they've produced, with color coded underlines to indicate linking. These open a fullscreen modal with a screenshot of the app and link to it. The goal here was to inform visiting potential recruits about the products that Panda has made, without whisking them away to the site.
{{/markdown}}
</article>
</section>
</template>
