<template name="panda-jobs">
{{#contentFor "client"}}Panda Network{{/contentFor}}

{{#contentFor "challenge"}}
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint fugiat sapiente, optio illo natus. Similique vero doloribus id sapiente cupiditate!
{{/contentFor}}

{{#contentFor "intro"}}
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis incidunt earum ipsam sit maxime officia non iure nisi. Excepturi ducimus, quas, temporibus veritatis amet corrupti fugiat. Doloribus earum suscipit dolor, expedita, pariatur blanditiis recusandae quaerat porro labore eum fugit quisquam soluta? Voluptatibus eveniet culpa expedita mollitia, nobis nulla! Enim, doloribus.
{{/contentFor}}

{{#contentFor "credits"}}
Thank you to Tosin Afolabi for making implementing my design a breeze.
{{/contentFor}}

<div class="column column--main">
{{#markdown }}
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus hic praesentium eius quae, fugiat nesciunt, voluptatum odio facere. Odio ea voluptatibus saepe magni voluptas temporibus nisi suscipit numquam sed eos nobis, exercitationem ipsa repellendus molestiae quibusdam aspernatur omnis? Reiciendis ratione eum eos, et reprehenderit? Exercitationem, velit ipsa dolores! Fugit, animi.

Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore amet tenetur optio, aliquid reprehenderit! Alias voluptatem molestias, vel. Qui, consectetur.

Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel ex qui nemo quia dicta deserunt aperiam dolorem incidunt sunt porro adipisci libero perferendis omnis, ipsum dolore cumque asperiores nisi perspiciatis.
{{/markdown }}
</div>

</template>
