<template name="startup-launch-list">
{{#contentFor "title"}}Startup Launch List{{/contentFor}}

{{#contentFor "client"}}Panda Network{{/contentFor}}

{{#contentFor "challenge"}}
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint fugiat sapiente, optio illo natus. Similique vero doloribus id sapiente cupiditate!
{{/contentFor}}

{{#contentFor "intro"}}
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis incidunt earum ipsam sit maxime officia non iure nisi. Excepturi ducimus, quas, temporibus veritatis amet corrupti fugiat. Doloribus earum suscipit dolor, expedita, pariatur blanditiis recusandae quaerat porro labore eum fugit quisquam soluta? Voluptatibus eveniet culpa expedita mollitia, nobis nulla! Enim, doloribus.
{{/contentFor}}

{{#contentFor "credits"}}
Thank you to Tosin Afolabi for making implementing my design a breeze.
{{/contentFor}}

<article class="column column--main column--right">
{{#markdown}}
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti fugit optio consectetur possimus ullam id nesciunt alias rerum magni, inventore! Unde blanditiis rem esse commodi fuga fugiat itaque quasi soluta. Eius delectus deleniti ab temporibus mollitia modi aliquid nobis facere et dignissimos, dolore amet, asperiores at culpa illum adipisci illo provident est, vel maiores molestias ut! Earum vitae reprehenderit error cumque maiores eaque alias non quas recusandae distinctio magni, omnis, blanditiis ex. Error, officia assumenda quidem delectus esse aut maiores libero inventore sapiente deserunt vitae officiis molestiae, accusamus? Exercitationem molestiae veritatis laborum minima voluptate doloribus ipsam. Dolorum modi, ut ea!
{{/markdown}}
</article>
</template>
