<template name="startup-launch-list">
<section class="section typeset">
{{ >caseStudyInfo }}
<article class="column column--main">
{{#markdown}}
William Channer approached me with yet another great idea for the Panda Network. Entrepreneur and founder of his own startup and many other small business ventures, he knew how tiresome and tricky it was to prepare himself for each venture.

We started with four different layouts, settling on the one below that looks similar to many of the different checklists we're accustomed to using, like Reminders and Wunderlist. With each handoff, I provided William and Ahmet with a brief, or sometimes long, write up of how each layout should work and the strengths of each. I also wrote implementation notes on the margins of each design to illustrate how I envisioned the app.

{{/markdown}}
</article>
</section>

<div class="full-width"><img src="{{ urlFor 'home'}}/images/work/sll-noted.png" alt=""></div>

<section class="section typeset no-pad">
<article class="mt column column--right">

{{#markdown}}
## A Long Countdown
Startup Launch List began as as a checklist of things to do before you launch. Preparing this turned into such a daunting task, that generalized so many things, we realized we couldn't do it well. We couldn't get a comprehensive list together.

William decided to change this before launch, and we used the same design that I initially starting with, noting that it still fit well and we could adjust the copywriting to reflect the change in content.


###### In the Media
* [Over 1,800 votes Product Hunt](http://www.producthunt.com/tech/startup-launch-list)
* [Best of June on Product Hunt](http://www.producthunt.com/@producthunt/collections/best-of-june-2015)
{{/markdown}}
</article>
</section>
</template>
