<template name="thenews">
<section class="section typeset">
{{ >caseStudyInfo  }}
<article class="column column--main">
{{#markdown}}
TheNews is a website and app that combines Hacker and Designer News. It’s simple to quickly browse both, checking on the latest links, resources, and updates in the tech and web community.

## Now for iOS
Inspired by thenews.im by Ahmet Sulek, Tosin Afolabi, and I decided to bring it over to iOS. It takes advantage of native gestures, as well as conditioned gestures to make for a clean, natural feeling experience. I was lucky enough to have a target user base that is experienced with gestures. Swiping the navigation bar at the top switches between Designer and Hacker News. Swiping a post from right to left takes the user to the comment thread. Swiping from left to right “up votes” the post.
{{/markdown}}
</article>
</section>
</template>
