<template name="proposal_form">
  <section class="wrapper padb--large">
    <h1 class="full tac">Let's work on something{{#if hasData "clientName" }}, <span class="purple">{{name}}</span>{{/if}}! </h1>
    <div class="clearfix"></div>
  </section>
  <aside class="column column--duo">
    {{# unless allFilled }}
    {{ #unless hasData "clientName" }}
    <p>Hi! What's the deal here?</p>
    {{/unless}}
    {{ #if hasData "clientName" }}
    <p>Well hello there, <span class="purple">{{name}}</span>.
      {{#unless hasData "clientEmail"}}
        <p>Now, where can I reach you? Typically I reply in a few days.</p>
      {{/unless}}
      {{#if hasData "clientEmail" }}
        {{# unless isEmail "clientEmail" }}
        <p>Bummer, <span class="purple link--purple">{{email}}</span> doesn't look valid.</p>
        {{/unless}}
        {{# if isEmail "clientEmail" }}
          {{#unless hasData "projectType"}}
            <p>Great! I'll reply to you at <span class="purple link--purple">{{email}}</span>. What type of project is this?</p>
          {{/unless}}
          {{#if hasData "projectType"}}
           <p>Great! I'll reply to you at <span class="purple link--purple">{{email}}</span> about your <span class="purple">{{project}}</span> project. Exciting!</p>
            {{#unless hasData "budget"}}
              What's your budget? I can make just about anything work, but we may have to adjust the scope.
            {{/unless}}
            {{#if hasData "budget"}}
              {{> budgetConditional budget=budget }}
            {{/if}}
          {{/if}}
        {{/if}}
      {{/if}}
    </p>
    {{/if}}
    {{/unless}}
    {{#if allFilled }}
      <p>Hey <span class="purple">{{ name }}</span>, <br/> This proposal is ready to be sent! I'm excited to work with you on your <span class="purple">{{project}}</span> project and I'll keep in mind that the budget is <span class="purple">{{budget}}</span>. I will reply within a few days to <span class="purple">{{email}}</span>. Go ahead and click the Send button!</p>
    {{/if}}
  </aside>
  <article class="column column--duo">
    <form method="POST" role="form">
      <div class="input-group">
        <label class="label" for="clientName">What is your first name?</label>
        <input id="clientName" value={{name}} type="text">
      </div>
      <div class="input-group">
        <label class="label" for="clientEmail">How can I reach you?</label>
        <input id="clientEmail" value={{email}} type="text">
      </div>
      <div class="input-group">
        <label class="label" for="projectType">What type of project is this?</label>
        <div class="checkbox">
          <input class="dib" type="checkbox" value="App Design"> App Design
        </div>
        <div class="checkbox">
          <input class="dib" type="checkbox" value="Web Design"> Web Design
        </div>
        <div class="checkbox">
          <input class="dib" type="checkbox" value="Web Development"> Web Development
        </div>
        <div class="checkbox">
          <input class="dib" type="checkbox" value="Illustration"> Illustration
        </div>{{!-- if other is checked, show hidden input --}}
        <div class="checkbox">
          <input class="dib" type="checkbox" value= {{otherProject}}> Other
        </div>
      </div>
      <div class="input-group">
        <label class="label" for="projectType">What type of project is this?</label>
        <div class="radio">
          <input type="radio" name="budget" value="$500-$1000"> $500-$1000
        </div>
        <div class="radio">
          <input type="radio" name="budget" value="$1000-$5000"> $1000-$5000
        </div>
        <div class="radio">
          <input type="radio" name="budget" value="$5000+"> $5000+
        </div>
      </div>
      <div class="input-group">
        <label class="label" for="projectDescription">What's your great idea?</label>
        <textarea class="db" value= {{projectDescription}} name="projectDescription" id="projectDescription"></textarea>
      </div>
      {{#unless isSent }}
      <input class="btn btn--medium btn--purple" type="submit" id="send-email-button" value="Send" />
      {{else}}
      <span class="bold db ml">Sent!</span>
      {{/unless}}
    </form>
  </article>
</template>
