<template name="globalCaseStudy">
  {{> navDefault}}
  <header role="hero" class="flex-parent">
    <div class="flex-child center title">
      <img src="../images/work/{{ slug }}@2x.png" alt="Panda Network Logo" class="logo dib">
      <h1 class="dib title">{{> yield "title" }}</h1>
    </div>
    <div class="hero-img" style="background-image: url('../images/work/{{ slug }}-bg-min.jpg');"></div>
  </header>
  <main class="white-bg" id="baseline">
    <section class="section typeset">
      <div class="column column--sidebar">
        <p>
          <small class="upper regular cadet-blue">Client</small>
          <br>{{> yield "client" }}
          <br>
          <small class="upper regular cadet-blue">Challenge</small>
          <br> {{> yield "challenge" }}
        </p>
      </div>
      <div class="column column--main">
        <p>{{> yield "intro"}}</p>
        <p>Title here: {{ getContent }} </p>
        <!-- need at least one thing here -->
      </div>
    </section>
    <section class="typeset section">
      {{> yield }}
    </section>
    <section class="typset section">
      <div class="column column--main column--right">
        <p>
          <small class="upper regular cadet-blue">Extra Credit and Thanks</small>
          <br> {{> yield "credits" }}
        </p>
      </div>
    </section>
  </main>
  {{> postFooter }}
</template>
