.profile {
  width: 100%;
  height: auto;
  position: relative;
  .border {
    border: 2px solid $linkcolor;
    width: 400px;
    height: 400px;
    background: none;
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: 100;
    &:hover {
      @include transform(translate(-5px, -5px));
    }
  }
}
