.logo {
  width: 3rem;
  height: auto;
  margin: 0 auto;
  vertical-align: top;
  display: inline-block;
  position: relative;
  top: -4px;
  margin-right: 2rem;
  &.panda {
    width: 32px;
  }
}

.title {
  font-weight: regular;

  &.black {
    color: $headingcolor;
  }
}

/* div.full-width > img */
.full-width {
  width: 100vw;
  position: relative;
  left: -50vw;
  margin: 2rem 0;
  margin-left: 50%;
  height: auto;
}
