.block-1 {
  height: 400px;
  max-width: 100%;
  @include breakpoint(break-2) {
    height: 360px;
  }
}

.typeset .cta {
  color: $linkcolor;
  position: relative;
  width: min-instrinsic;
  z-index: 100;
  p {
    position: relative;
    z-index: 100;
  }
}

.cta > .callout {
  position: absolute;
  font-size: 80px;
  font-weight: bold;
  font-family: "Neuzeit Grotesk";
  line-height: 92px;
  display: none;
  text-decoration: none;
  z-index: -1;
  @include breakpoint(break-2) {
    @include maxwidth(3);
    display: block;
    top: 67px;
    left: 0;
  }
  @include breakpoint(break-3) {
    top: 79px;
    left: 0;
  }
}

.work-list {
  width: 100%;
  margin-top: 4rem;
  tr {
    &:not(.border-top) {
      border-bottom: 1px solid $bodycolor;
      padding: 2rem 0;
    }
    &.border-top {
      height: 1px;
      width: 100%;
      background: $bodycolor;
      display: block;
    }
  }
  .small-bg {
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: calc(100% + 4rem);
    left: 0;
    right: 0;
    top: -2rem;
    bottom: 0;
    z-index: -1;
    position: absolute;
    opacity: 0;
  }
  td:nth-of-type(2) {
    position: relative;
    p {
      // opacity: 0;
    }
    // border-bottom: 1px solid $bodycolor;
  }
  .list-title {
    width: 200px;
    // border-bottom: 1px solid $bodycolor;
    a {
      color: $bodycolor;
      &:hover, &:focus, &:active {
        color: $linkcolor;
      }
    }
  }
  // tr:hover td div.hover.small-bg {
  //   opacity: 0;
  // }
  // tr:hover td:nth-of-type(2) p {
  //   opacity: 1;
  // }
}

main.section {
  margin-bottom: 8rem;
}

.dark-mode {
  background: map-get($accentcolors, navy);
  nav a, a {
    $yellow: map-get($accentcolors, yellow);
    color: $yellow !important;
  }
  .cta {
    color: map-get($accentcolors, salmon) !important;
  }
}
