.block-1 {
  height: 400px;
  max-width: 100%;
  @include breakpoint(break-2) {
    height: 360px;
  }
}

.typeset .cta {
  color: $linkcolor;
  position: relative;
  width: min-instrinsic;
  z-index: 100;
  p {
    position: relative;
    z-index: 100;
    line-height: 3rem;
  }
}

.cta > .callout {
  position: absolute;
  font-size: 80px;
  font-weight: light;
  line-height: 92px;
  letter-spacing: -0.05em;
  opacity: .04;
  display: none;
  color: #222222;
  text-decoration: none;
  z-index: -1;
  @include breakpoint(break-2) {
    @include maxwidth(3);
    display: block;
    top: 80px;
    left: 0;
  }
  @include breakpoint(break-3) {
    top: 76px;
    left: 0;
  }
}

main.section {
  margin-bottom: 6rem;
}

.dark-mode {
  background: map-get($accentcolors, navy);
  nav a, a {
    $yellow: map-get($accentcolors, yellow);
    color: $yellow !important;
  }
  .cta {
    color: map-get($accentcolors, salmon) !important;
  }
}
