.grid {
  padding: 2rem 0;
  .bigger {
    width: 58%;
  }
  .smaller {
    width: 38%;
  }
  .flex-parent {
    @include display(flex);
    @include align-items(stretch); // Stretch children to fill parent
    &.row {
      @include flex-direction(row); // Row Layout
    }
    &.column {
      @include flex-direction(column); // Column Layout
    }
    &.align-bottom {
      @include justify-content(flex-end); // Bottom Align
    }
  }
}

// style modules etc
.card {
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, .08);
  position: relative;
  color: $bodycolor;
  padding: 1rem;
  height: 300px;
  overflow: hidden;
  @include transition(all .5s ease-in-out);
  background: #f7f7f7;
  &.cyan-bg {
    h3, p, small {
      color: $bodycolor;
    }
  }
  &.cosmic-bg {
    background: #C5A3E6;
    h3, p, small {
      color: $white;
    }
  }
  &.blush-bg {
    h3, p, small {
      color: $bodycolor;
    }
  }
  &.green-bg {
    h3, p, small {
      color: $white;
    }
  }
  &.navy-bg {
    h3, p, small {
      color: $white;
    }
  }
  &.indigo-bg {
    h3, p, small {
      color: $white;
    }
  }
  &:hover {
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, .3);
    @include transition(all .5s ease-in-out);
    z-index: 100;
  }
  small {
    opacity: .6;
  }
}

.target {
  position: absolute;
  display: block;
  right: 1rem;
  bottom: 1rem;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  border: 2px solid $bodycolor;
  @include transition(border-color .3s $ease-in-out-quad);
  &:hover {
    border-color: white;
  }
  .inner-1 {
    position: relative;
    display: block;
    left: 2px;
    top: 2px;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    border: 2px solid $bodycolor;
    &:hover {
      border-color: $white;
    }
    .inner-2 {
      position: relative;
      display: block;
      left: 2px;
      top: 2px;
      width: 8px;
      height: 8px;
      border-radius: 100%;
      border: 2px solid $bodycolor;
      &:hover {
        border-color: $white;
      }
    }
  }
}

.faux-hr {
  border: none;
  height: 4px;
  display: block;
  width: 100%;
  margin: calc(1rem - 2px) auto;
  background: white;
  &.black {
    background: $bodycolor;
  }
}

// margin + padding utilites
.m0 {
  margin: 0;
}

.mt0 {
  margin-top: 0;
}

.mb0 {
  margin-bottom: 0;
}

.mb-half {
  margin-bottom: .5rem;
}
