// input styles
.input-group {
  display: block;
  margin-bottom: 1.5em;
}

.label {
  margin-bottom: 1.5em;
}

input[type="text"] {
  border: none;
  outline: none;
  border-bottom: 1px solid $bodycolor;
  box-shadow: none;
  background: rgba(0, 0, 0, 0.08);
  padding: 8px;
  display: block;
  width: 100%;
  @include fontsize(eta, all);
  &:active,
  &:focus {
    outline: none;
    border-bottom: 1px solid $linkcolor;
    box-shadow: 0 1px 2px transparentize($linkcolor, .5);
  }
}

textarea {
  outline: none;
  resize: none;
  height: 240px;
  border: 1px solid $bodycolor;
  padding: 8px;
  display: block;
  width: 100%;
  @include fontsize(eta, all);
  &:active,
  &:focus {
    border: 1px solid $linkcolor;
    box-shadow: none;
    box-shadow: 0 1px 2px transparentize($linkcolor, .5);
  }
}
